Video_samples/
Pose_Samples/
pipeline_screenshots/
marked_videos_Yolo/
marked_videos_OCSort/
marked_videos_ByteTrack/
marked_videos_2/
marked_videos_1/
marked_videos/
Internship project resource videos/
Image samples/
dashboard/
.venv/
__pycache__/
*.pt
*.npy
_
*.onnx